//- audio(src="../../img/music/blindrage.mp3" autoplay controls loop)
div(id="main" class="battlePage" ng-controller="charController")
  img(id="battleBackground" src="../../img/environments/norway.jpg")
  img(id="powAnimation" ng-src="{{powAnimationImage}}" ng-show="actualHitAnimation" ng-class="(actualHitAnimation) ? 'appear' : ''")
  img(id="enemyPowAnimation" ng-src="{{enemyPowAnimationImage}}" ng-show="actualEnemyHitAnimation" ng-class="(actualEnemyHitAnimation) ? 'enemyAppear' : ''")
  
  img(class="char enemy enemy--battle" ng-src="{{eImgUrl}}")
  img(class="char char--battle" ng-src="{{imgUrl}}")
  
  div(class="hp-bar__char")
    progress(class="hp-bar hp-bar__char" value="{{charHp}}" max="{{charMax}}")
    span(class="hp-description") Character HP: {{charHp}} Character MAX: {{charMax}}
    div(class="user--name") {{userName}}
  div(class="hp-bar__enemy")
    progress(class="hp-bar hp-bar__enemy" value="{{enemyHp}}" max="{{enemyMax}}")
    span(class="hp-description") Character HP: {{enemyHp}} Character MAX: {{enemyMax}}
    div(class="enemy--name") {{enemyName}}
    
  div(class="hit-text" ng-show="hit && !battleStart") Your attack landed! {{damageDealt}} damage dealt!
  div(class="hit-text" ng-show="!hit && !battleStart") Your attack missed!
  div(class="enemyHit-text" ng-show="enemyHit && !battleStart") Enemy attack landed! {{damageTaken}} damage taken!
  div(class="enemyHit-text" ng-show="!enemyHit && !battleStart") Enemy attack missed!
  
  div(class="battle__outcome" ui-sref="village" ng-show="((battleOutcome === 'Win') || (battleOutcome === 'Lose'))") {{battleOutcome}}
    div(class="return-village") Click to return to village!
  
  a(id="surveyLink" href="https://goo.gl/forms/8w7s73XuloytxelI3" target="_blank") Survey after you're done playing :)
  
  div(id="battleMoves" ng-hide="((battleOutcome === 'Win') || (battleOutcome === 'Lose'))")
    div(class="battleMoves__ability toggleable--light" ng-click="abilityUsed($index)" ng-repeat="move in charAbilities") {{move.name}}: {{move.customName}}

  div(id="gameNavTip" ng-show="showTips") Nav Menu
  div(id="gameNav")
   button(class="backNav" class="btn" ui-sref="home") Home
   button(class="backNav" class="btn" ui-sref="char") Character Select
