div(id="main" ng-controller="charController")
   div(id="narrative") {{ nextNarrative }}
   img(id="archer" src="../../img/characters/archer.svg")
   button(id="chooseChar" class="btn") 
   a(ui-sref="home") Back home
