div(id="main" class="editPage" ng-controller="editController")
   div(id="instruction" class="editPage editStats" ng-show="(showTips) && (toggle==='Edit Moves')") Enter stats (0-99) based on
    span(class="red")  MAXSTAT 
    span() (currently {{maxstat}}) and Strength / Speed
   div(id="charCode" class="help-code editPage" ng-click="toggleHelp()") {{toggleHelpText}}
   div(id="edit-title") {{editTitle}}
   div(id="stat-edit" ng-show="(toggle==='Edit Moves') && !help")
     div(class="stat-edit__stat-types")
       div(class="stat-edit__stat-type") STRENGTH: 
        span(class="stat--borderbox") {{strength}}
       div(class="stat-edit__stat-type") SPEED: 
        span(class="stat--borderbox") {{speed}}
       div(class="stat-edit__stat-type blue") MAXSTAT 
        span(class="stat--borderbox--blue blue") {{maxstat}}
     
     div(class="stat-edit__stat--javascript") >> sessionStorage.toughness = 
     input(class="stat-edit__stat-input" ng-change="toughnessAdjust()" min="0" ng-max="maxstat" type="number" ng-model="toughness" placeholder="e.g., 1, 2, 3")
     div(class="stat-edit__move-invalid purple" ng-if="toughness === undefined") Enter a 
      span(class="stat-edit__move-invalid purple purple-shade") toughness 
      span(class="stat-edit__move-invalid purple") value between 0 and {{maxstat}}

     div(class="stat-edit__stat--javascript") >> sessionStorage.power = 
     input(class="stat-edit__stat-input" ng-change="powerAdjust()" min="0" ng-max="maxstat" type="number" ng-model="power" placeholder="e.g., 1, 2, 3")
     div(class="stat-edit__move-invalid purple" ng-if="power === undefined") Enter a 
      span(class="stat-edit__move-invalid purple purple-shade") power 
      span(class="stat-edit__move-invalid purple") value between 0 and {{maxstat}}
     div(class="stat-edit__move-invalid red" ng-show="(toughness === maxstat) && (power === maxstat)") Lower either toughness or power by 1
     div(class="stat-edit__stat--javascript") >> if ((toughness + power) < 5 )) {
       div(class="stat-edit__stat--javascript") >> console.log('Total STRENGTH (5) unused')
       div(class="stat-edit__stat--javascript") >> }
     div(class="stat-edit__move-invalid red red-shade" ng-show="(toughness + power) < 5") Total STRENGTH (5) unused

     div(class="stat-edit__stat--javascript") >> sessionStorage.evasion = 
     input(class="stat-edit__stat-input" ng-change="evasionAdjust()" min="0" ng-max="maxstat" type="number" ng-model="evasion" placeholder="e.g., 1, 2, 3")
     div(class="stat-edit__move-invalid purple" ng-if="evasion === undefined") Enter an 
      span(class="stat-edit__move-invalid purple purple-shade") evasion 
      span(class="stat-edit__move-invalid purple") value between 0 and {{maxstat}}

     div(class="stat-edit__stat--javascript") >> sessionStorage.accuracy = 
     input(class="stat-edit__stat-input" ng-change="accuracyAdjust()" min="0" ng-max="maxstat" type="number" ng-model="accuracy" placeholder="e.g., 1, 2, 3")
     div(class="stat-edit__move-invalid purple" ng-if="accuracy === undefined") Enter an 
      span(class="stat-edit__move-invalid purple purple-shade") accuracy 
      span(class="stat-edit__move-invalid purple") value between 0 and {{maxstat}}
     div(class="stat-edit__move-invalid red" ng-show="(evasion === maxstat) && (accuracy === maxstat)") Lower either evasion or accuracy by 1
     div(class="stat-edit__stat--javascript") >> if ((evasion + accuracy) < 5 )) {
       div(class="stat-edit__stat--javascript") >> console.log('Total SPEED (5) unused')
       div(class="stat-edit__stat--javascript") >> }
     div(class="stat-edit__move-invalid red red-shade" ng-show="(evasion + accuracy) < 5") Total SPEED (5) unused

   div(id="stat-edit" ng-show="(toggle==='Edit Moves') && help")  
    div(class="editStats__codeTips") 
      div(class="init-chartype comment--javascript editPage title") Storing Power in Session Storage
      div(class="stat-edit__stat--javascript push1") >> sessionStorage.power = 
      input(class="stat-edit__stat-input" min="0" ng-max="maxstat" type="number" ng-model="helpPower" placeholder="e.g., 1, 2, 3")
      div(class="init-chartype comment--javascript editPage") // If it's not in the valid range, see an error
      div(class="stat-edit__stat--javascript push1") >> if (sessionStorage.power === undefined) {
      div(class="stat-edit__stat--javascript push1") >> console.log(&quotEnter a power value between 0 and {{maxstat}}&quot)}
      div(class="stat-edit__move-invalid purple" ng-if="helpPower === undefined") Enter a power value between 0 and {{maxstat}}
        span(class="init-chartype comment--javascript editPage space1") // power is undefined
      div(class="init-chartype comment--javascript editPage") // This works because if the power is not 
      div(class="init-chartype comment--javascript editPage") // between 0 and 3, it's set to 
        span(class="stat-edit__stat--javascript red") undefined
      div(class="references")
        div(class="references__title") References:
        a(class="init-chartype link--javascript charPage" target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/if...else" title="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/if...else") if/else
        a(class="init-chartype link--javascript charPage" target="_blank" href="http://www.w3schools.com/html/html5_webstorage.asp" title="http://www.w3schools.com/html/html5_webstorage.asp") sessionStorage
        a(class="init-chartype link--javascript charPage" target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Comparison_Operators#Identity_strict_equality_()" title="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Comparison_Operators#Identity_strict_equality_()") ===
        a(class="init-chartype link--javascript charPage" target="_blank" href="http://www.w3schools.com/jsref/jsref_undefined.asp" title="http://www.w3schools.com/jsref/jsref_undefined.asp") undefined



   div(id="move-edit" ng-show="(toggle==='Edit Stats') && !help")
    div(class="move-edit__available__title") 
      span(ng-if="abilityCount > 0") Choose {{abilityCount}} ability. 
      span() {{moveCount}} abilities currently selected. 
      span(class="default-move__text") Default Fixed (2): (Throw Rock & Sand)
    div(class="move-edit__moves--available")
      div(class="move-edit__move" ng-class="(moves[chartype][$index].name === ability) ? 'selected' : 'unselected'" ng-click="selectMove($index)" ng-repeat="move in moves[chartype]") {{move.name}}
        div(class="move-edit__move-damage") DAMAGE: {{move.damage}}
        div(class="move-edit__move-stat" ng-show="move.toughness>0") Toughness: +{{move.toughness}}
        div(class="move-edit__move-stat" ng-show="move.power>0") Power: +{{move.power}}
        div(class="move-edit__move-stat" ng-show="move.evasion>0") Evasion: +{{move.evasion}}
        div(class="move-edit__move-stat" ng-show="move.accuracy>0") Accuracy: +{{move.accuracy}}
        div(class="selectMove" ng-show="(moves[chartype][$index].name !== ability)") Click to Select this Move
      div(class="move-edit__move--default" ng-repeat="move in moves['allChars']") {{move.name}}
        div(class="move-edit__move-damage") DAMAGE: {{move.damage}}
        div(class="move-edit__move-stat" ng-show="move.toughness>0") Toughness: +{{move.toughness}}
        div(class="move-edit__move-stat" ng-show="move.power>0") Power: +{{move.power}}
        div(class="move-edit__move-stat" ng-show="move.evasion>0") Evasion: +{{move.evasion}}
        div(class="move-edit__move-stat" ng-show="move.accuracy>0") Accuracy: +{{move.accuracy}}
        
   div(id="stat-edit" ng-show="(toggle==='Edit Stats') && help")  
    div() You are now being helped on Edit Moves
   
   div(class="toggle-edit")
    button(class="toggle-edit__button" ng-click="toggleEdit()") {{toggle}}
   div(class="go-village" ng-show="editCompleted")
    button(class="btn-village" ng-click="setStats()" ui-sref="village") Go protect the village!
    
   div(id="stat-summary" class="stat-summary")
    div(class="stat-summary__name-label") Name:
    div(class="stat-summary__name-value stat--javascript") >> {{userName}}
    div(class="stat-summary__type-label") Class:
    div(class="stat-summary__type-value stat--javascript") >> {{chartype}}
    div(class="stat-summary__type-label") Subclass:
    div(class="stat-summary__type-value stat--javascript") >> {{subtype}}
    div(class="stat-summary__stat__heading") Stats
    div(class="stat-summary__name-label") Toughness:
    div(class="stat-summary__name-value stat--javascript") >> {{toughness}}
    div(class="stat-summary__type-label") Power:
    div(class="stat-summary__type-value stat--javascript") >> {{power}}
    div(class="stat-summary__type-label") Evasion:
    div(class="stat-summary__type-value stat--javascript") >> {{evasion}}
    div(class="stat-summary__type-label") Accuracy:
    div(class="stat-summary__type-value stat--javascript") >> {{accuracy}}
    div(class="stat-summary__type-label") Abilities:
    div(class="stat-summary__type-value stat--javascript" ng-repeat="move in charMoves") >> {{move.name}}
    
    div(id="gameNavTip" ng-show="showTips") Nav Menu
    div(id="gameNav")
     button(class="backNav" class="btn" ui-sref="home") Home
     button(class="backNav" class="btn" ui-sref="char") Character Select
     button(class="backNav" class="btn" ui-sref="stats") Subclass Select
     button(class="menuItem blue-bg" ng-show="editCompleted" ng-click="setStats()" ui-sref="village") Go protect the village!
