div(id="main" ng-controller="homeController")
   div(id="footer") {{ nextNarrative }}
   button(id="story" class="btn" ng-click="storyClick()") {{nextText}}
   img(id="witch" src="../../img/characters/angel_normal.svg")
   button(id="chooseChar" class="btn" ng-if="chooseChar" ui-sref="char") 
    a(ui-sref="char") Choose a character!
