div(id="main" ng-controller="homeController")
   div(id="narrative") {{ nextNarrative }}
   button(id="story" class="btn" ng-click="storyClick()") {{nextText}}
   img(id="witch" src="../../img/characters/witch.svg")
   button(id="chooseChar" class="btn" ng-if="chooseChar") 
    a(href="#/char") Choose a character!
    a(ui-sref="char") Charchar
