html
    head
        meta(charset="utf-8")
        title Code Ruckus
        link(type='text/css', rel='stylesheet', href='css/stylesheet.css')
        link(href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet")

        script(type="text/javascript" src="js/angular.min.js")
        script(type="text/javascript" src="js/angular-ui-router.js")
        script(type="text/javascript" src="js/angular-animate.min.js")
        script(type="text/javascript" src="js/ui-bootstrap-tpls.min.js")


        script(type="text/javascript" src="app.js")
        script(type="text/javascript" src="config.js")
        script(type="text/javascript" src="env.js")

    <!-- include:js(scripts/**/*.js) -->

    body(ng-app="myApp")
        div(class="page-container" )

            audio(id="cr-audio" src="../../img/music/oveheavensings.mp3" autoplay loop ng-if="headline !== '[CR] BATTLE at JS-Land!'")
            div(ui-view="header" ng-click="(document.getElementById('cr-audio').pause)")
            .container.has-top-fixed-bar
                .row.row-offcanvas.row-offcanvas-left
                    .col-xs-12.col-sm-12( ui-view="main")
                    div(ui-view="menu")
                    .col-xs-12.col-sm-9( ui-view="content")
            a(id="conceptsCovered" href="../../img/docs/ConceptsCoveredinCodeRuckus.pdf" target="_blank") Concepts Covered
            div(id="cr-pause" class="music-ctrl toggleable" onclick="document.getElementById('cr-audio').pause(); let e = document.getElementById('cr-pause').classList.add('selected'); document.getElementById('cr-play').classList.remove('selected');") Music Off
            div(id="cr-play" class="music-ctrl selected toggleable" onclick="document.getElementById('cr-audio').play(); document.getElementById('cr-play').classList.add('selected'); document.getElementById('cr-pause').classList.remove('selected');") Music On
