$brand-color: #214868;

$header-height: 60px;
$input-height: 55px;
$input-background-color: #F7F6F6;

$regular-text-l: 18px;

$cr-green: #14ab1b;
$cr-blue: #2448bb;
$cr-teal: #14ab67;
$cr-purple: #6714ab;
$cr-red: #AB1B14;
$cr-orange: #FAAB1B;
$cr-bright-red: #d92219;
$cr-light-teal: #14a4ab;
$cr-besaid: #b8e5d1;
