$brand-color: #214868;

$header-height: 60px;
$input-height: 55px;
$input-background-color: #F7F6F6;

$regular-text-l: 18px;

$cr-green: #14ab1b;
$cr-dark-green: #0f7d14;
$cr-blue: #2448bb;
$cr-light-blue: #4f6cc8;
$cr-lighter-blue: #657ecf;
$cr-lightest-blue: #7b91d6;
$cr-white-blue: #91a3dd;
$cr-whiter-blue: #a7b5e3;
$cr-whitest-blue: #bdc8ea;
$cr-smokiest-blue: #bbccff;
$cr-smokier-blue: #6688ff;
$cr-smoke-blue: #6688ff;
$cr-unselected-blue: #6688ff;
$cr-hoverselect-blue: #4466cc;
$cr-selected-blue: $cr-blue;
$cr-teal: #14ab67;
$cr-purple: #6714ab;
$cr-red: #AB1B14;
$cr-orange: #FAAB1B;
$cr-bright-red: #d92219;
$cr-light-teal: #14a4ab;
$cr-besaid: #b8e5d1;
$cr-light-grey: #dde4dd;
$cr-light-gray: #dde4dd;
$cr-grey: #99a099;
$cr-gray: #99a099;
$cr-black: #000000;
$cr-white: #ffffff;
