#stat-edit, #move-edit {
  width: 50%;
  border: 2px solid #14ab67;
  padding: 10px;
  margin-bottom: 20px;
}

#instruction.editStats {
  position: fixed;
  width: 60%;
  bottom: 5%;
}

.help-code.editPage, #edit-title {
  width: 50%;
}

#edit-title {
  padding: 4px;
  background-color: #14ab67;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center;
}

#main.editPage {
  width: 76%; /*100 - 12 -12*/
  margin-top: 100px;
}

.stat--borderbox {
  border: 2px solid $cr-purple;
  padding: 2px 10px;
  &.red {
    border-color: $cr-bright-red;
  }
}

.red {
  .stat--borderbox {
    border-color: $cr-bright-red;
  }
}

.stat--borderbox--blue {
  border: 1px solid $cr-blue;
  padding: 2px 10px;
}
.stat-edit__stat--javascript {
  margin-bottom: 7px;
}

.stat-edit__move-invalid {
  font-size: 15px;
  margin-bottom: 5px;
}

.stat-edit__stat-types {
  margin-bottom: 15px;
}
.stat-edit__stat-type {
  color: $cr-purple;
  display: inline-block;
  margin-right: 10px;
  font-size: 20px;
}

.stat-edit__stat-type--tip {
  margin-top: 5px;
  color: $cr-red;
  font-size: 16px;
}

.stat-edit__stat--javascript {
  display: inline-block;
  font-family: Consolas,monaco,monospace;
  color: $cr-blue;
}

.ng-invalid-max {
  border: 2px solid #cc0000;
}

.move-edit__move {
  display: inline-block;
  width: 48%;
  padding: 1%;
  margin-right: 1%;
  margin-bottom: 10px;
  background-color: #a3a1dd;
  color: white;
  cursor: pointer;
  &:hover {
    background-color: #312bb3;
  }
  & .selectMove {
    margin-top: 10px;
    font-size: 18px;
    color: #0f7d14;
    text-align: center;
    clear: both;
  }
  &.selected {
    background-color: #312bb3;
  }
}

.move-edit__move-stat {
  float: right;
  margin-left: 10px;
}

.move-edit__available__title {
  font-size: 18px;
  color: $cr-purple;
  margin-bottom: 10px;
}

.move-edit__move--default {
  background-color: $cr-blue;
  color: white;
  width: 45%;
  padding: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  display: inline-block;
  margin-right: 5%;
}
.default-move__text {
  color: $cr-blue;
}

.toggle-edit, .go-village {
  width: 30%;
  display: inline-block;
}

.toggle-edit__button, .btn-village {
  height: 60px;
  color: white;
  font-size: 18px;
  margin: 5px 0px;
  padding: 15px;
}

.btn-village {
  background-color: #77120e;
  padding: 10px;
}
.toggle-edit__button {
  background-color: #14ab67;
}


/*
Code Section
*/

.comment--javascript.editPage {
  font-size: 15px;
  &.title {
    color: $cr-purple;
    font-size: 18px;
  }
}
@media screen and (min-width: 1281px) {
  #instruction.editPage {
    font-size: 32px;
  }
}
@media screen and (max-width: 1280px) {

  .toggle-edit__button, .btn-village {
    margin: -10px 0px;
  }
  .toggle-edit__button {
    margin-left: 75px;
  }


  #instruction.editStats {
    right: 3%;
    width: 40%;
    bottom: 50px;
  }

}

#leftEdit {
    width: 55%;
}


/*
  Edit Moves: Moves Selected Buttons
*/

.moves__moveEdit {
  width: 100%;
}
.moves__buttons {
  padding: 0px 20%;
}
.moves__moveEdit__move {
  background-color: $cr-besaid;
  color: white;
  cursor: pointer;
  display: inline-block;
  width: 30%;
  margin-right: 2%;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  &.selected {
    background-color: $cr-blue;
  }
}

.moves__moveEdit__complete {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  background-color: $cr-bright-red;
  color: white;
  cursor: pointer;
}
