@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../bower_components/font-awesome/scss/font-awesome';
@import "variables";

@import "account";
@import "error";
@import "navbar";
@import "utilities";
@import "char";
@import "stats";
@import "edit";
@import "village";
@import "battle";

html *
{
  border-radius: 0 !important;
  font-family: 'Slabo 27px', serif;
}

input, button {
  outline: none;
}

#main {
  margin-top: 100px;
  position: fixed;
  left: 12%;
}
#main.editPage {
  margin-top: 75px;
}

#charPage {
  margin-top: 180px;
}

#villageImg {
  width: 100%;
  height: 110%;
  position: fixed;
  top: -25%;
  left: 0;
}

.block
{
  float: left;
  margin-right: 10px;
  position: relative;
  display: block;
  min-width: 100px;
  min-height: 100px;
  background-color: #14ab1b;
}

#narrative {
  font-size: 28px;
  clear: both;
  float: right;
  margin-top: 10px;
  margin-right: 40%;
  border: 1px solid black;
  padding: 50px;
}

#footer {
  position: fixed;
  bottom: 0px;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  padding-top: 10px;
  left: 1px;
  right: 1px;
  width: 100%;
  font-size: 36px;
  border: 3px solid black;
  height: 33%;
  background-color: #ddd;
  font-weight: bold;
  text-shadow: 0.5px 0.5px 0px black;
}

#story, #chooseChar {
  height: 100px;
  width: 14%;
  font-size: 36px;
  background-color: #2448bb;
  color: white;
  cursor: pointer;
  position: fixed;
  bottom: 5%;
  right: 30px;
  &:visited {
    color: white;
  }
}

#witch {
  height: 32%;
  width: 32%;
  right: 15%;
  top: 30%;
  position: fixed;
}

#chooseChar {
  background-color: #14ab1b;
  width: 26%;
}

.tipForUser {
  position: fixed;
  bottom: 7%;
  color: $cr-red;
  font-size: 40px;
  &.right {
    right: 18%;
  }
  &.left {
    right: 30%;
  }
}

#gameNav {
  position: fixed;
  left: 0;
  top: 22%;
  height: 35%;
  width: 10%;
  background-color: transparent;
  color: white;
  opacity: 0.3;
  &:hover {
    opacity: 1;
  }
}

#gameNavTip {
  position: fixed;
  left: 0;
  top: 16%;
  width: 10%;
  background-color: $cr-orange;
  text-align: center;
  font-size: 20px;
  height: 6%;
  padding-top: 0.7%;
  opacity: 0.7;
  color: white;
  &:hover {
    opacity: 1;
  }
}

#backNav, .showTips, .backNav, .menuItem {
  font-size: 16px;
  background-color: $cr-light-teal;
  color: white;
  cursor: pointer;
  width: 100%;
  height: 25%;
  a, a:visited {
    color: white;
  }
}
.backNav.main {
  background-color: $cr-orange;
  &:hover {
    background-color: $cr-red;
  }
}

.showTips:hover {
  background-color: $cr-blue;
  color: white;
}
#backNav {
  &:hover {
    background-color: $cr-blue;
    color: white;
  }
}
.backNav:hover {
  background-color: $cr-blue;
  color: white;
}

.stat--javascript, .comment--javascript, .link--javascript {
  font-family: Consolas,monaco,monospace;
  color: $cr-blue;
  font-size: 14px;
}
.comment--javascript {
  color: $cr-grey;
}
.link--javascript, .link--javascript:visited {
  position: relative;
  margin-right: 10px;
  padding: 10px;
  background-color: #ccc;
  color: $cr-bright-red;

  margin: 6px;
  display: inline-block;
  width: auto;
  &:hover {
    background-color: #aaa;
    color: $cr-red;
  }
}

.inline {
  display: inline-block;
}

.title--javascript {
  font-family: Consolas,monaco,monospace;
  color: $cr-blue;
  font-size: 24px;
  margin-bottom: 10px;
}

.tab1 {
  padding-left: 30px;
}
.space1 {
  padding-left: 6px;
}
.push1 {
  padding-right: 6px;
}
.last {
  margin-bottom: 10px;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
.purple-shade {
  text-shadow: 1px 1px $cr-purple;
}
.red-shade {
  text-shadow: 1px 0px $cr-bright-red;
}
.black {
  color: black;
}
.white {
  color: white;
}
.dark-red {
  color: $cr-red;
}
.red {
  color: $cr-bright-red;
}
.purple {
  color: $cr-purple;
}
.green {
  color: $cr-green;
}
.blue {
  color: $cr-blue;
}
.orange {
  color: $cr-orange;
}
.light-teal {
  color: $cr-light-teal;
}
.light-blue {
  color: $cr-light-blue;
}
.lighter-blue {
  color: $cr-lighter-blue;
}
.lightest-blue {
  color: $cr-lightest-blue;
}
.bright-red {
  color: $cr-bright-red;
}
.blue-bg {
  background-color: $cr-blue;
}
.green-bg {
  background-color: $cr-green;
}

.unselected {
  background-color: $cr-unselected-blue;
  &:hover {
    background-color: $cr-hoverselect-blue;
  }
  &.selected, &.selected:hover {
    background-color: $cr-selected-blue;
  }
}

.help-code {
  color: white;
  background-color: $cr-purple;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  border-radius: 10px !important;
  cursor: pointer;
  margin-bottom: 10px;
}

@media screen and (min-height: 960px) {

  .stat--javascript, .comment--javascript, .link--javascript {
    font-size: 18px;
  }


  #gameNavTip {
    padding-top: 0.95%;
  }


  #backNav, .showTips, .backNav, .menuItem {
    font-size: 20px;
  }

}


.menuItem.blue-bg {
  color: white;
  &:hover {
    color: white;
    background-color: $cr-purple;
  }
}


.references {
  margin-bottom: 15px;
  font-family: Consolas,monaco,monospace;
}
.references__title {
  width: 100%;
  font-size: 24px;
  color: grey;
  font-family: Consolas,monaco,monospace;
  margin-bottom: 10px;
}
